/* Reset básico */
body, h1, p, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: #555;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #777;
}

.social-icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.social-icon {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ddd;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 250px;
}

.product img {
    width: 100%; /* Ajusta la imagen para que ocupe todo el ancho del contenedor */
    height: 200px; /* Fija una altura para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes se recorten correctamente sin distorsión */
    border-radius: 10px;
}

.product h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.product p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    width: 100%;
}
